<% if current_user%>
    <% if current_user.favorites.where(job: @job).empty? %>
        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span>
        <%=link_to("收藏", favorites_path(job_id: @job), method: :post)%>
        </button>
    <%else%>
        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span>
        <%=link_to("取消收藏", favorite_path(@job), method: :delete)%>
        </button>
    <%end%>
<% else%>
      <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span>
      <%= link_to("收藏", favorites_path(job_id: @job), method: :post) %>
      </button>
<% end%>
