<!--第一版的 <div class="jumbotron">
  <h1 class="title" >The One Offer</h1>
  <p class="slogan">专注于游戏设计／开发工作的招聘</p>
  <p class="lead">
    <a class="btn btn-lg " href="/jobs">马上应征</a>
  </p>
</div>

<section id="lp-mid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pic-1">
        <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fexj5i8h26j30e808wwf6.jpg" alt="pic 1" />
      </div >
      <div class="col-md-6 text-1">
        <h3>我们与世界顶级的游戏开发公司有着长期的合作。Blizzard Entertainment、Wii Play、Infinity Ward等都是我们的合作伙伴。</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-2">
          <h3>The One，构建了无数玩家的青春。</h3>
      </div>
      <div class="col-md-6 pic-2">
          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1fexu02kcgij30e808wwmv.jpg" alt="pic 2" />
      </div>
    </div>
    </div>
  </div>
</section> -->

<!--第二版-->

<!--video-->
<!-- <div class="lp-video">
  <video autoplay="autoplay" class="VideoBackground-video" loop="loop" src="http://media.blizzard.com/wow/legion-6a153ad2/videos/header-illidan.webm"></video>
  <div class="lp-video-inner">
    <h1 class="title" >The One Offer</h1>
    <p class="slogan">专注于游戏设计／开发工作的招聘</p>
    <p class="lead">
      <a class="btn btn-lg " href="/jobs">马上应征</a>
    </p>
  </div>
</div> -->
<!--大图 start-->
<div class="col-md-12">
  <div class="row lp-top">
    <div class="lp-top-inner col-md-6 col-md-offset-3">
      <h1 class="title">The One Offer</h1>
      <p class="slogan">专注于游戏设计／开发工作的招聘</p>
      <p class="lead">
        <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
<!--大图 end-->

<!-- 中间部分 start-->

<div class="container lp-mid">

  <div class="row lp-mid">
    <div class="col-md-7">
      <h3 class="lp-mid-heading">专业 </h3>
      <p class="lead">我们与世界顶级的游戏开发公司有着长期的合作。Blizzard Entertainment、Wii Play、Infinity Ward等都是我们的合作伙伴。</p>
    </div>
    <div class="col-md-5">
      <img class="lp-mid-image img-responsive" src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff5nmteoxtj30dw08bqbd.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="lp-mid-divider">

  <div class="row lp-mid">
    <div class="col-md-5">
      <img class="lp-mid-image img-responsive" src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff5no49sauj30dw08bwhr.jpg" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h3 class="lp-mid-heading">高效</h3>
      <p class="lead">利用行业顶级的数据分析模型，高效地筛选出最适合您职业发展的工作</p>
    </div>
  </div>

  <hr class="lp-mid-divider">

  <div class="row lp-mid">
    <div class="col-md-7">
      <h3 class="lp-mid-heading">热血 </h3>
      <p class="lead">The One，成就了一代又一代玩家的青春。</p>
    </div>
    <div class="col-md-5">
      <img class="lp-mid-image img-responsive" src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff5n9osug2j30k50c1dh5.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="lp-mid-divider">

  <!-- /END THE FEATURETTES -->

  <!-- Three columns of text below the carousel -->
  <!-- <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div> -->

</div><!-- /.container -->
<!-- 中间部分 end-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/Scripts/AssetsBS3/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/Scripts/AssetsBS3/ie10-viewport-bug-workaround.js"></script>
