<div class="jumbotron">
  <h1 class="title" >The One Offer</h1>
  <p class="slogan">专注于游戏设计／开发工作的招聘</p>
  <p class="lead">
    <a class="btn btn-lg " href="/jobs">马上应征</a>
  </p>
</div>

<section id="lp-mid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pic-1">
        <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fexj5i8h26j30e808wwf6.jpg" alt="pic 1" />
      </div >
      <div class="col-md-6 text-1">
        <h3>我们与世界顶级的游戏开发公司有着长期的合作。Blizzard Entertainment、Wii Play、Infinity Ward等都是我们的合作伙伴。</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-2">
          <h3>The One，构建了无数玩家的青春。</h3>
      </div>
      <div class="col-md-6 pic-2">
          <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1fexu02kcgij30e808wwmv.jpg" alt="pic 2" />
      </div>
    </div>
    </div>
  </div>
</section>
