/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);

//说明：这里只存放navbar、footer、搜索栏、弹窗和通用的样式。 其他页面的样式存放在各自的scss中。//

html{height: 100%;}
body{position: relative; margin: 0px; padding: 0px; min-height: 100%;
   .wrapper { padding-bottom: 70px; }//这是layout里面的
}

//navbar start
.navbar-default {
  background-color: #0d1802;
  border-color: #0d1802;
}

@media (min-width: 780px){
  .navbar { border-radius: 0;}
}

.navbar-default .navbar-brand {
  color:#e1e35e;
  padding: 10px 15px;
  line-height: 30px;
}
.navbar-brand > img {display: inline-block; margin-right: 10px; width: 32px; height: 32px;}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: #F49644;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a{color: #e1e35e;}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #F49644;
  background-color: transparent;
}
//navbar end

//搜索栏 start
.form-group{ margin:10px 50px 10px auto;}

.input-group {
  display: table-cell;
  border-collapse: separate;
  width: 250px; //加上width
}
.search-bar-submit{background-color: rgba(176, 179, 144, 0.69)}
//搜索栏 end


//footer start
footer{ position: absolute; width: 100%; height: 50px; bottom: 0; margin-right: -15px; background-color: #0d1802;
  p{margin-bottom: auto; color: #e1e35e}
  a{color: #e1e35e}
  img {display: inline-block;  width: 32px; height: 32px;}
}
//鼠标移到链接弹出图片的效果
.wechat-icon{ z-index:0; }
.wechat-icon:hover{ background-color:transparent; z-index:50; }
.wechat-icon span{visibility:hidden; color:#000;  padding:5px; }
.wechat-icon span img{position: fixed; bottom:50px;  width: 329px; height: 376px;}
.wechat-icon:hover span{ position: fixed;bottom:460px; left:230px; visibility:visible;  }
//这两个position: fixed;是用于设定图片隐藏或显示时的位置。若不设置则footer不固定在下面，图片会把footer撑上去。

//footer end


/******弹窗 LOGIN MODAL start ******/
/****** LOGIN MODAL ******/

/******弹窗 LOGIN MODAL end ******/

//------commont----//
.col-centered{
  float: none;
  margin: 0 auto;
}
