<footer>
  <div class="contaier">
    <div class="row">
      <div class="col-md-4">
        <p class="text-center">
          <a href="https://github.com/manjun000/job-listing">关于我们</a> &nbsp | &nbsp
          <a href="/">帮助中心</a> &nbsp | &nbsp
          <a class="wechat-icon" href="">联系我们<span><img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff8edixbb6j30950agq6y.jpg"></span></a>
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          ©2016 Rails101  &nbsp Design by 满军
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-center p1">
          <a href="#s"><%= image_tag("link_facebook.png") %></a> &nbsp
          <a href="#s"><%= image_tag("link_twitter.png") %></a> &nbsp
          <a href="#"><%= image_tag("link_wechat.png") %></a>
          <a href="#" class="pull-right">Back to top</a>
        </p>
      </div>
    </footer>
    </div>
  </div>


<!-- /*<style >
  p{margin: auto 0px;}
</style>*/ -->
