<footer class="row" style="margin-top: 50px;">
    <p class="text-center">
      <a href="/">关于我们</a> &nbsp | &nbsp
      <a href="/">帮助中心</a> &nbsp | &nbsp
      <a href="https://github.com/manjun000/job-listing">联系我们</a>
      <br />Copyright ©2016 Rails101 Design by 满军
    </p>
</footer>

<style>
 footer{ width: 100%; height: 50px;
   background-color: #424242;
 }
 p{margin: 5px auto; color: #BDBDBD}

</style>
