<footer class="row" >
  <div class="col-md-4">
    <p class="text-center">
      <a href="/">关于我们</a> &nbsp | &nbsp
      <a href="/">帮助中心</a> &nbsp | &nbsp
      <a href="https://github.com/manjun000/job-listing">联系我们</a>
    </p>
  </div>
  <div class="col-md-4">
    <p class="text-center">
      ©2016 Rails101  &nbsp Design by 满军
    </p>
  </div>
  <div class="col-md-4">
    <p class="text-center">
      <a href="#s"><%= image_tag("link_facebook.png") %></a> &nbsp
      <a href="#s"><%= image_tag("link_twitter.png") %></a> &nbsp
      <a href="#s"><%= image_tag("link_wechat.png") %></a>
      <a href="#" class="pull-right">Back to top</a>
    </p>
  </div>
</footer>
